*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container{
  margin: 50px 0;
  width: 1280px;
  height: 500px;
  background-color: rgb(182, 182, 182);
}

.box{
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.box-red{
  background-color: red;
}